.App {
  text-align: center;
}

.masonry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  margin: 16px;
}

.masonry-item {
  position: relative;
  cursor: pointer;
  margin-bottom: 16px;
  grid-row: span 1;
}

.masonry-item img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

.masonry-item img[style*="grid-column: span 2"] {
  grid-row: span 2;
}

.react-responsive-modal-modal {
  max-width: 100% !important;
}